/* styles.css */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.light-theme button {
    background-color: black;
    color: white;
}

.dark-theme button {
    background-color: white;
    color: black;
}
